/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.exe
/cmake-build-debug/
/cmake-build-release/
/.idea/modules.xml
/.idea/.gitignore
/.idea/.name
/.idea/E1_git_example_image_viewer_exercise.iml
/.idea/encodings.xml
/.idea/misc.xml
/test.png
/.idea/vcs.xml
